.false {
    position: "absolute";
    inset: 0;
    background: rgba(118, 117, 117, 0.3);
    z-Index: 10;
}

/* Contador rojo a la izquierda */
.contador {
    position: absolute;
    top: 30px;
    left: 50px;
    font-size: 5rem;
    font-weight: 700;
    color: white;
    background-color: #b10000;
    padding: 10px 25px;
    border-radius: 8px;
}

/* Bloque de letras prohibidas */
.bloqueprohibidas h2 {
    margin-bottom: 15px;
}

.cajaprohibidas {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
}

.contenedorPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 20px;
    position: relative;
}

.jugadores {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.bloqueprohibidas {
    text-align: center;
}

.cajaprohibidas {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
}

.longitudYinput {
    text-align: center;
}

.inputContainer {
    margin-top: 15px;
}

.flex {
    display: flex;
}

.userPointContainer {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
}