.false {
    position: "absolute";
    inset: 0;
    background: rgba(118, 117, 117, 0.3);
    z-Index: 10;
}

/* Contador rojo a la izquierda */
.contador {
    position: absolute;
    top: 30px;
    left: 50px;
    font-size: 5rem;
    font-weight: 700;
    color: white;
    background-color: #b10000;
    padding: 10px 25px;
    border-radius: 8px;
}

/* Bloque de letras prohibidas */
.bloqueprohibidas h2 {
    margin-bottom: 15px;
}

.cajaprohibidas {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
}

.contenedorPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 20px;
    position: relative;
}

.jugadores {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.bloqueprohibidas {
    text-align: center;
}

.cajaprohibidas {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
}

.longitudYinput {
    text-align: center;
}

.inputContainer {
    margin-top: 15px;
}

.userPointContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
}

.expandDiv,.expandDiv2 {
    position: fixed;
    top: 0;
    left: 0;
    width:0;
    height: 100vh;
    background: #b10000;
    animation: grow 15s linear forwards;
    pointer-events: none;
    /* no bloquea clics */
    z-index: 0;
    overflow-y: hidden;
}
.expandDiv{
    background: #8f0000;
    width: 4vw;
    z-index: 0;
    animation: grow 15s linear forwards;
}

@keyframes grow {
    to {
        width: 100vw;
        /* suficiente para llenar pantalla */
    }
}
@keyframes grow2 {
    to {
        width: 104vw;
        /* suficiente para llenar pantalla */
    }
}