.imagenClick{
    display:flex;
    justify-content: flex-start;
    height: auto ;
    width: 50px;
    object-fit: contain;
    cursor:pointer;
}

.imagenClick:hover,.imagenClickGame:hover,.volver:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
.imagenClickGame{
    display:flex;
    justify-content: flex-start;
    height: auto ;
    object-fit: contain;
    cursor:pointer;
}
.volver{
    cursor:pointer;
}