.imagenClick{
    display:flex;
    justify-content: flex-start;
    height: auto ;
    object-fit: contain;
    cursor:pointer;
}

.imagenClick:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}