.inputWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0.8rem 0;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 0.7rem;
  padding: 0.4rem 0.6rem;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

/* Cuando se enfoca el input */
.inputWrapper:focus-within {
  border: 1px solid #3b82f6;
  box-shadow: 0 0 6px rgba(59, 130, 246, 0.3);
}

.input {
  flex: 1;
  border: none;
  outline: none;
  padding: 0.6rem;
  font-size: 1rem;
  color: #333;
  background: transparent;
}

.input::placeholder {
  color: #aaa;
}

/* ImagenClick al costado */
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 0.4rem;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.iconWrapper{
  background-color:white;
  padding: 0.25rem;
  border-radius:0.5rem;
}

.iconWrapper:hover {
  background-color: black; 
}
