.inputWrapper {
    display: flex;
    align-items: center;
    width: 100%;
    background: rgb(rgb(148, 145, 145));
    border: 1px solid #ccc;
    padding: 0.6rem 1.4rem;
    transition: border 0.3s ease, box-shadow 0.3s ease;
    margin: 2rem;
    margin-left: 6rem;
}
.inputWrapperLog,.inputWrapperSE {
    display: flex;
    align-items: center;
    width: 30%;
    background: rgb( rgb(148, 145, 145));
    border: 1px solid #ccc;
    padding: 0.6rem 1.4rem;
    transition: border 0.3s ease, box-shadow 0.3s ease;
    margin:2rem;
}
.inputWrapperSE{
    width: 90%;
}
.inputWrapper:focus-within,.inputWrapperLog:focus-within {
    border-color: red;
    box-shadow: 0 0 5px red;
}

.input {
    flex: 1;
    border: none;
    outline: none;
    padding: 0.6rem;
    font-size: 1rem;
    color: white;
    background: transparent;
}

.input::placeholder {
    color: white;
    text-align: center;
}

.inputModal,.chico {
    flex: 1;
    border: none;
    outline: none;
    padding: 0.6rem;
    font-size: 1rem;
    color: white;
    background: transparent;
}

.inputModal::placeholder {
    color: white;
    text-align: center;
}

.inputWrapperLogModal,.wrapperChico {
    display: flex;
    align-items: center;
    width: 83%;
    background: rgb( rgb(148, 145, 145));
    border: 1px solid #ccc;
    padding: 0.6rem 1.4rem;
    transition: border 0.3s ease, box-shadow 0.3s ease;
    margin:2rem;
}
.wrapperChico{
    margin-bottom: 0.5rem;
}

.inputWrapper:focus-within,.inputWrapperLogModal:focus-within {
    border-color: red;
    box-shadow: 0 0 5px red;
}
.inputWrapperGame {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.inputGame {
    background-color: #a9a8a8;
    color: #fff;
    font-size: 1rem;
    border: 0.5rem solid #7f7f7f;
    padding: 3rem;
    text-align: center;
    outline: none;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
    font-size: 3rem;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    width: 50vw;
    height: 10vw;
}

.inputGame:focus {
    border-color: #ff3c00;
    box-shadow: 0 0 6px #ff3c00;
}
@media (max-width: 1000px) {
    .inputWrapper{
        margin: 1rem;
    }
    .inputWrapperLog{
        width: 60vw;
    }
}
