.letraprohibida {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    margin: 0 10px;
    background-color: #b0b0b0;
    border: 4px solid #888;
    border-radius: 4px;
    color: black;
    font-size: 2rem;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}