.container {
  display: flex;
  align-items: center;
  gap: 1%;
  background-color: #121212;
  padding: 1%;
  border-radius: 12px;
}

.image {
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #000000;
}

.text {
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.textAdmin{
  margin-left: 2%;
  color: #ff0000;
  font-size: 0.8rem;
  letter-spacing: 1px;
}