.container {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}


.containerInputs{
  display:flex;
  justify-content: center;
}
@media (max-width: 1000px) {
.containerInputs{
  display:flex;
  flex-direction: column;
  align-items: center;
}
}