html, body {
  background-color: #111;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
}

.container {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 70vh;
  color: white;
  padding: 0 1rem;
}

.title {
  font-size: 6rem;
  color: #d32f2f;
  margin: 4rem 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

.subtitle {
  text-align: center;
  color: #ffffff;
  font-weight: 600;
  margin: 0.5rem 0;
  
}
.subtitle2 {
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  margin: 0.5rem 0;
  font-size: 2.5rem;
}
.red{ 
  color: #d32f2f;
  margin: 1rem;
  font-weight: 500;
}

.rest {
  margin: 1rem;
}

.center {
  display: flex;
  justify-content: center;
}

.irALaOtraPagina {
  color: #90caf9;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1rem;
  transition: color 0.3s ease, transform 0.2s ease;
}

.irALaOtraPagina:hover {
  color: #64b5f6;
  transform: translateY(-3px);
}

@media (max-width: 768px) {
  .title {
    font-size: 4rem;
  }
  .irALaOtraPagina {
    font-size: 0.9rem;
  }
}
.flex {
  display: flex;
  margin-top: 5%;
}
.top{
  top:20px;
  margin-left: 47vw;
  margin-top: 1vw;
}
