html, body{
  background-color:#111;
}
.container {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 70vh;
  font-family: 'Poppins', sans-serif;
}


.containerInputsYBoton {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
  gap: 2rem;
}

.containerInputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1; 
}


.uploadContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dashed #ccc;
  border-radius: 10px;
  padding: 2rem;
  width: 32vw;
  height: 38vh;
  position: relative;
  cursor: pointer;
  margin-right:5rem;
}

.uploadContainer:hover{
  transform: scale(1.08);
}


/* botón de los tres puntitos */
.uploadButton {
  background-color: #333;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-radius: 6px;
  cursor: pointer;
}


/* input file invisible */
.fileInput {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
}


.title {
  font-size: 4rem;
  color: #d32f2f;
  margin: 2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}

.subtitle {
  font-size: 2rem;
  color: white;
  margin-bottom: 0.5rem;
  text-align: center;
}

.subtitle2 {
  font-size: 1.2rem;
  color: white;
  margin-bottom: 1.8rem;
  text-align: center;
}



.subtitle3 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  color: white;
}

.irALaOtraPagina {
  color: #90caf9;
  text-decoration: underline;
  cursor: pointer;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

.irALaOtraPagina:hover {
  color: #64b5f6;
}
