/* especifico registro */
.containerInputsYBoton {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
  gap: 2rem;
}

.containerInputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1; 
}


.uploadContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dashed #ccc;
  border-radius: 10px;
  padding: 2rem;
  width: 32vw;
  height: 38vh;
  position: relative;
  cursor: pointer;
  margin-right:5rem;
}

.uploadContainer:hover{
  transform: scale(1.08);
}

.uploadButton {
  background-color: #333;
  color: white;
  border: none;
  padding: 0.6rem 1.4rem;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
}

.fileInput {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
}

.irALaOtraPagina {
  color: #90caf9;
  text-decoration: underline;
  cursor: pointer;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

.irALaOtraPagina:hover {
  color: #64b5f6;
}
@media (max-width: 1000px) {
  .containerInputsYBoton{
    flex-direction: column;
  }
  .uploadContainer{
    margin-right: 1rem;
    margin-left: 5%;
  }
}